.btn {
    margin-right: -15px;
}

a {
    margin-left: -15px;
}

.alert {
    margin-top: 10px;
}

.login-box, .register-box {
    width: 80%;
}

.row-button button {
    width: 100%;
}

.row-links {
    margin-left: 0;
    margin-top: 15px;
}